@keyframes glitchear {
      	0%   {
		/*
		clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 0% 10%,
	       	0% 20%, 100% 20%, 100% 40%, 0% 60%, 0% 40%, 0% 80%, 100% 80%, 100% 100%, 0% 100%,0% 80%);
		*/
	clip-path: rect()
	}
      	100% {
		clip-path: polygon(0% 20%, 100% 20%, 100% 40%, 0% 40%, 0% 60%, 100% 60%, 100% 80%, 0% 80%);
	}
}
img {
	position:fixed;
}
#img1{
	filter:contrast(100%);
	clip-path: url(#svgPath);
}
#img2{
	visibility:hidden;
}

