body {
	margin:0;
	background-color:black;
}

#inpt {
	position:fixed;
	height:90%;
	width: 90%;
	margin:2% 0% 0% 2%;
	
	background: transparent;
	outline:none;

	color:white;
	font-size:2em;
	font-family:Helvetica;
	letter-spacing:0.1em;
	text-shadow: 1px 1px white;
}

#actual span{
	background-color: rgb(4,193,236,0.3);
}


.line{
	clear: left;
	height:1em;
}

#inpt div{
	float:left;
	white-space:pre;
	
}

#cursor{
	background: white;
	width:2px;
	height:1em;
	position:absolute;
	display:inline-block;
}

.hlobjs{
	color:yellow;
}

canvas {
	width: 100%; 
	height: 100% 
}


.instruction {
	color:#7FFFD4;
}
.comment {
	color: gray;
}

#log{
	color : white;
	top:90%;
	width :100%;
	height :8%;
	position:fixed;
	background-color:rgb(102,68,161,0.2);
	text-align : center;
	display:table;
}
#log div{
	display:table-cell;
	color:white;
	width:40%;
	margin:auto;
}
#board{
	position:fixed;
	width:100%;
	height:100;
	z-index:-1;
	display: table;
	clear:both;
}
.media{
	position: fixed;
	float: left;
	overflow:hidden;
	mix-blend-mode: hue;
}
